PORT=3000
PGHOST=localhost
PGPORT=5432
PGDATABASE=agis
PGUSER=rpa
PGPASSWORD=
PGSSL=false
SESSION_SECRET=change-this-to-a-long-random-value
ADMIN_LOGIN=admin
ADMIN_PASSWORD=change-this-before-first-run
ADMIN_NAME=Administrador inicial
CLIENT_ORIGIN=http://localhost:5173
